<div class="col-md-6 offset-md-3"> 
    <h3>create user</h3>
       <form (ngSubmit)="onSubmit()">
         <div class="form-group">
           <label>first name</label>
           <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstname">
       </div>
       <div class="form-group"> 
           <label>last name</label>
           <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastname">
       </div>
           <div class="form-group"> 
           <label>email id</label>
           <input type="text" class="form-control" id="emailid" [(ngModel)]="user.email" name="emailid">
       </div>
           
       <button class="btn btn-success" type="submit">submit</button>
   
       </form>
    </div>
