<div class="container" id="Cont">
    <h1>CONTACT US</h1>
    <br><br><br>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="" id="" placeholder="Your Name" class="form-control">
                </div>
                <div class="col-md-6">
                    <input type="text" name="" id="" placeholder="Your Email" class="form-control">
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" name="" id="" placeholder="Subject" class="form-control">
                </div>
            </div>
        </div>
    </div>
    
</div>
