#Cont{  
    background-image: url(../../../assets/contact-bg.png);
    height: 100ex;
}
h1{
    color: blue;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    font-weight: 900;
}
input{
    padding: 15px;
}